
#initialBoard {
    float: left;
    margin-left: 20%;
    margin-top: 3%;
}

#answerBoard {
    margin-right: 20%;
    float: right;
    margin-top: 3%;
}
p{
    font-size: 17px;
}
input{
    font-size: 17px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}
.run{
    position: relative;
    left: 30px;
    top: -5px;
}
h2 {
    text-align: center;
    margin-top: 6%;
}
.rules{
  margin-left: 15px;
}
#footer{
  position: absolute;
  bottom: 0;
  left: 42%;
}
.timediv{
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #d9d9d9;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: 600;
}
.level{
  size: 10px;
}
.rulesp{
  font-size: 14px;
}
.level{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 7px;
}
