body{
  overflow-x: hidden;
}
#initialBoard {
    margin-top: 10px;
    margin-bottom: 10px;
}

#answerBoard {
  margin-top: 10px;
  margin-bottom: 10px;
}

p{
    font-size: 17px;
}
input{
    font-size: 17px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}
#boxSection{
  text-align: center;

}
#solveSection{
  text-align: center;
}
h2 {
    text-align: center;
}
#rulesSection{
  margin-left: 35px;
}
.timediv{
  text-align: center;
  width: 20vw;
  background-color: #d9d9d9;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: 400;
  margin-left: 40vw;
  padding-top: 8px;
}

.level{
  size: 10px;
}
.rulesp{
  font-size: 14px;
}
.level{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 7px;
}

.top{
  border-top: 3px solid black;
}
.left{
  border-left: 3px solid black;
}
.right{
  border-right: 3px solid black;
}
.bottom{
  border-bottom: 3px solid black;
}
